<div class="media">
  <div class="media-body">
    <h2 class="media-heading">
       <%= wiki.title %> <br >
       <small>Created by: <%= link_to wiki.user , wiki.user %></small>
    </h2>
    <%= f.label :public, class: 'checkbox' do %>
      <%= f.check_box :public %> Public wiki
    <% end %>
    <div>
      <%= wiki.body %>
    </div>
  </div>
</div>
